.git
.github
.idea
.vscode
.zed
.fleet
.phpunit.cache
.phpactor.json

node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/pail
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

.env
.env.backup
.env.production
*.log
.phpunit.result.cache

docs
tests
phpunit.xml
README.md
LICENSE.txt
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
